# Apps per Category

In [5]:
import pandas as pd
from explorify.utils.io import IOService

In [6]:
FP_EXP = "tests/data/apps_by_category.csv"
FP_REVIEWS = "tests/data/reviews.pkl"
FP_APPS_BY_CATEGORY = "tests/data/apps_by_category.pkl"

In [7]:
fp_exp = IOService.read(FP_EXP)
fp_exp.columns = ["Category", "Expected", "Apps %"]
fp_exp

             Category  Expected     Apps %
0    Health & Fitness    104629   6.822146
1           Utilities    200903  13.099519
2            Business    223775  14.590847
3           Education    211197  13.770721
4             Medical     53122   3.463725
5   Social Networking     52087   3.396239
6        Productivity    100289   6.539164
7           Lifestyle    180169  11.747596
8       Entertainment     93434   6.092196
9                Book     22272   1.452206
10            Finance     80539   5.251401
11       Food & Drink    144832   9.443510
12          Reference     31527   2.055661
13      Photo & Video     34892   2.275070

In [8]:
reviews = IOService.read(FP_REVIEWS)
fp_actual = reviews.groupby(by="category")["app_name"].nunique().reset_index()
fp_actual.columns = ["Category", "Actual"]
fp_actual

             Category  Actual
0                Book     139
1            Business     513
2           Education     305
3       Entertainment     407
4             Finance      37
5        Food & Drink     190
6    Health & Fitness     840
7           Lifestyle     341
8             Medical     243
9       Photo & Video      31
10       Productivity     215
11          Reference     171
12  Social Networking     304
13          Utilities     821

In [10]:
df = pd.merge(fp_exp, fp_actual, on="Category")
IOService.write(filepath=FP_APPS_BY_CATEGORY, data=df)

             Category  Expected     Apps %  Actual
0    Health & Fitness    104629   6.822146     840
1           Utilities    200903  13.099519     821
2            Business    223775  14.590847     513
3           Education    211197  13.770721     305
4             Medical     53122   3.463725     243
5   Social Networking     52087   3.396239     304
6        Productivity    100289   6.539164     215
7           Lifestyle    180169  11.747596     341
8       Entertainment     93434   6.092196     407
9                Book     22272   1.452206     139
10            Finance     80539   5.251401      37
11       Food & Drink    144832   9.443510     190
12          Reference     31527   2.055661     171
13      Photo & Video     34892   2.275070      31